@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");
:root {
  --primary-color-1: #079ab7;
  --primary-color-2: #0164ef;
  --secondary-color-1: #a805c8;
  --secondary-color-2: #ae037b;
  --tertiary-color-1: #ff570a;
  --tertiary-color-2: #c49d00;
  --cta--color-1: #d72638;
  --cta--color-2: #d76d26;
  --alert-color-1: #ab0202;
  --alert-color-2: #ba3500;
  --success-color-1: #00641c;
  --success-color-2: #0bb34e;
  --warning-color-1: #df8600;
  --warning-color-2: #df5d00;
  --nav-dark: #222222;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

html {
  scroll-behavior: smooth;
}

h1 {
  font-size: 8vw;
}
h2 {
  font-size: 7vw;
}
h3 {
  font-size: 5.5vw;

}
h4 {
  font-size: 4.1vw;
}

h5 {
  font-size: 2.7vw;
}

p {
  font-size: 1.1vw;
}
