*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.div1{
    justify-content: baseline;
    align-items: center;

    .div2{
        display: block;
        position: relative;
    }
    .div3{
        display: flexbox;
        margin: 5;
        padding: 5;

        &:hover{
            scale: 1.5;

        }
    }
}